<h1>Carrito de Compras</h1>


<div id="contenedorProductos" class="productGrid">
  {{#each productos}}
  <div class="productCard textCard">
    <p class="cartText">Producto: {{product.title}}</p>
    <p class="cartText">Cantidad: {{quantity}}</p>
  </div>
  {{/each}}
</div>